<style>
  #bodytext {
    font-family: Roboto;
    font-weight: normal;
    color: rgb(50, 50, 50);
    text-align: justify;
        }
</style>
<p id="bodytext">
          Fleet management software can help you achieve better driver safety, performance and satisfaction, less paperwork, decreasing error margins and scope for interference, real-time tracking of fixed as well as mobile assets, fuel consumption optimization and greater customer satisfaction1. Fleet management software also helps you identify cost-saving opportunities. You can use it to secure the best parts pricing from suppliers, reduce unnecessary inventory, optimize carrying costs, and improve efficiency by ensuring the right part is on hand at the right time2. Fleet management software improves the management of your fleet on all levels. Maintenance professionals use it to optimize part and labor processes while feeding back analytics to help monitor ahead of the competition.
</p>

<spam> Test Spam1</spam>

<article>Ricardo Web Site</article>

<ol>
  <li>Tesla</li>
  <li>FITA</li>
  <ol>
    <li>Mazda</li>
    <li>Voskswagen</li>
  </ol>
</ol>
<aside> Test aside tag</aside>

<a href="http://www.google.com">Google</a>