
<p4> Car Registraction</p4>
<form action="/car_inf/{{dashboard['id']}}/apply" method="post">
  <div class="mb-2">
    <lable>Car Maker:</lable><br>
    <input type='text' name="car_make", placeholder="car_make">
  </div>

  <div class="mb-2">
    <lable>Model:</lable><br>
    <input type='text' name="car_made", placeholder="car_made">
  </div>

  <div class="mb-2">
    <lable>Year:</lable><br>
    <input type='int' name="car_year", placeholder="car_made">
  </div>

  <div class="mb-2">
    <lable>Comments:</lable><br>
    <textarea name="car_comments"></textarea>
  </div>

  <div class="mb-2">
    <input type="submit">
  </div>
  
</form>
  
