<p4> Car Registraction</p4>
<form action="/car_inf/{{dashboard['id']}}/apply" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="mb-2">
      <lable>Car Maker:</lable><br>
      <p>Car_Id: {{dashboard['id']}}</p>
    </div>
  
  <div class="mb-2">
    <lable>Car Maker:</lable><br>
    <input type='text' name="maker", placeholder="car_make">
  </div>

  <div class="mb-2">
    <lable>Model:</lable><br>
    <input type='text' name="made", placeholder="car_made">
  </div>

  <div class="mb-2">
    <lable>Year:</lable><br>
    <input type='int' name="year", placeholder="car_made">
  </div>

  <div class="mb-2">
    <lable>Comments:</lable><br>
    <textarea name="comments"></textarea>
  </div>

  <div class="mb-2">
    <input type="submit">
  </div>
  
</form>
  
