<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Fleet</title>
    <!--Link with CSS style information -->
    <link rel="stylesheet" href="https://car-fleet.ricardom32.repl.co/static/style.css"  
   <!--{% include 'bootstrap.html' %} -->

    <style>
      table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}
</style>
    </style>
  <body>
    <div id ='container'>
      {% include 'header.html' %}
      <h1>{{company_name}} - Manage your fleet easly.</h1>
      {% include 'banner.html' %}
      <p class="newselector">Found the best place to Manage your fleet</p>
      {% include 'bodytext.html' %}
      {% for car_inf in car_inf %}
          {% include 'car_information.html' %}
      {% endfor %}
      {% include 'footer.html' %}
    </div>
  </body>
</html> 